@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.col-md-4 {
    margin: 8px 0;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 5px solid red;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.option img {
    width: 100px;
    height: 100px;
}